[submodule "Grug3D/vendor/spdlog"]
	path = Grug3D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Grug3D/vendor/GLFW"]
	path = Grug3D/vendor/GLFW
	url = https://github.com/AirborneB6/glfw
